Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2020-11, with the labels that each got.

#53 Updating repo
  .editorconfig
  .env
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_template
  audit.json
  build.gradle
  charts/rd-caseworker-ref-api/.helmignore
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/templates/NOTES.txt
  charts/rd-caseworker-ref-api/values.ithc.template.yaml
  charts/rd-caseworker-ref-api/values.perftest.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  security.sh
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/demo/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefApiApplication.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/demo/Application.java
  src/main/java/uk/gov/hmcts/reform/demo/config/DataSourceConfig.java
  src/main/java/uk/gov/hmcts/reform/demo/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/demo/controllers/RootController.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_10__alter_user_profile.sql
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__alter_judicial_user_profile.sql
  src/main/resources/db/migration/V1_3__insert_judicialrole_type.sql
  src/main/resources/db/migration/V1_4__alter_jrd_tables.sql
  src/main/resources/db/migration/V1_5__defult_insert_leaf_tables.sql
  src/main/resources/db/migration/V1_6__excption_table.sql
  src/main/resources/db/migration/V1_7__audit_table.sql
  src/main/resources/db/migration/V1_8__delete_judicialrole_type_insert.sql
  src/main/resources/db/migration/V1_9__defult_insert_leaf_tables_not_exists.sql
  src/smokeTest/java/uk/gov/hmcts/reform/cwrdapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/rsecheck/DemoUnitTest.java
  web.config
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-53

#58 Nighlty build fix
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/WelcomeFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-58

#60 feat:adding the flyway scripts for rd-case-worker-api
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__add_sequences.sql
  src/main/resources/db/migration/V1_3__insert_queries_role_user_type.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-60

#59 RDCC-1979: Azure Service Bus Changes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/CaseworkerMessageFailedException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfigTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-59

#67 Rdcc 1989 1
  src/main/resources/db/migration/V1_1__init_tables.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-67

#73 feat:charts changes
  charts/rd-caseworker-ref-api/Chart.yaml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-73

#75 feat: Creation of mapping between all CRD entitites
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerIdamRoleAssociation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerLocation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerWorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorker.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleType.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserType.java
  src/main/resources/db/migration/V1_2__add_sequences.sql
  src/main/resources/db/migration/V1_2__insert_queries_role_user_type.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAuditTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerIdamRoleAssociationTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerLocationTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRoleTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerWorkAreaTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleTypeTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/UserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-75

#76 feat:updating the role names
  src/main/resources/db/migration/V1_2__insert_queries_role_user_type.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-76

#77 feat: Removed serial keyword and added sequences in script and added sequence generator in entities
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerIdamRoleAssociation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerLocation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerWorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorker.java
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__add_sequences.sql
  src/main/resources/db/migration/V1_3__insert_queries_role_user_type.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-77

#82 feat:File validation Service Data Ingestion (RDCC-1953)
  RDCC-1927.patch
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/docs/TestConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceTest.java
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/integrationTest/resources/db/testmigration/V1_2__insert_queries_role_user_type.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerDomain.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceRoleMapping.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/RepositoryConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorker.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IAuditService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/AuditService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/MappingField.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/AuditServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/JsrValidatorInitializerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-82

#84 Jms code comment
  README.md
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfig.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfigTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-84
