Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2020-12, with the labels that each got.

#86 RDCC-1952 Excel adapter functionality part 1b
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/integrationTest/resources/WithCorrectPassword.xls
  src/integrationTest/resources/WithCorrectPassword.xlsx
  src/integrationTest/resources/WithIncorrectPassword.xls
  src/integrationTest/resources/WithIncorrectPassword.xlsx
  src/integrationTest/resources/WithNoPasswordSet.xls
  src/integrationTest/resources/WithNoPasswordSet.xlsx
  src/integrationTest/resources/WithXlsxOnlyHeader.xlsx
  src/integrationTest/resources/application.yml
  src/integrationTest/resources/caseworker_profile.xlsx
  src/integrationTest/resources/test.txt
  src/main/java/uk/gov/hmcts/reform/cwrdapi/advice/ExcelValidationException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelValidatorService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelValidatorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/MappingField.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/WorkBookCustomFactory.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelValidatorServiceImplTest.java
  src/test/resources/WithCorrectPassword.xls
  src/test/resources/WithCorrectPassword.xlsx
  src/test/resources/WithIncorrectPassword.xls
  src/test/resources/WithIncorrectPassword.xlsx
  src/test/resources/WithNoPasswordSet.xls
  src/test/resources/WithNoPasswordSet.xlsx
  src/test/resources/WithXlsxOnlyHeader.xlsx
  src/test/resources/test.txt
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-86

#91 Rdcc 1988
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerDomain.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceRoleMapping.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/MethodSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/MethodValidationPostProcessorConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/IdamRolesMappingException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/IdamRolesMappingResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorker.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerIdamRoleAssociationRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IdamRoleMappingService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/IdamRoleMappingServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/WorkBookCustomFactory.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/IdamRolesMappingExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/IdamRolesMappingResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/IdamRoleMappingServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-91

#94 Nightly Fix: adding entries to audit.json
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-94

#95 Add sync method call
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-95

#98 build: Fixed CVE-2020-13956 CVE-2020-25638 CVE-2020-17527
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-98

#100 fixed Nightly builds
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-100

#101 Send the list of Case Worker User IDs to Azure Service Bus Topic to be consumed by other services.
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/response/AttributeResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/response/RoleAdditionResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/response/RoleDeletionResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/response/UserProfileResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/config/Oauth2.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/models/User.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefApiApplication.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/PublishCaseWorkerData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfig.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/MessagingConfigTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-101

#106 Manage s2s secret using TF and update references
  build.gradle
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-106

#107 Add reference to s2s secret
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-107

#99 RDCC-2059: CRD: API to Retrieve details of a list of Caseworkers based on their IDs
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/WelcomeFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ResourceNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-99
