Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-09, with the labels that each got.

#360 RDCC-3297: Fortify - Fix Caseworker repo fortify issues
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelValidatorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelValidatorServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-360

#359 Add fortify implementation
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:rd, prd:rd, DO NOT MERGE, rel:rd-caseworker-ref-api-pr-359

#363 Add Azure AD TF provider
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-363

#361 RDCC-3277: Removed hard coded string in the configuration files.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/CustomSerenityRunner.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfig.java
  src/integrationTest/resources/application-test.yml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-361
