Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-06, with the labels that each got.

#302 feat: RDCC-2686 Added new endpoint to handle refresh role allocation functionality
  Jenkinsfile_CNP
  build.gradle
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/LocationReferenceDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/UserProfileConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FetchStaffProfileByCcdServiceNamesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/StaffProfileWithServiceName.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/StaffReferenceException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/feign/LocationReferenceDataFeignClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/internal/StaffReferenceInternalController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/LrdOrgInfoServiceResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerStaticValueRepositoryAccessorImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/StaffReferenceExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/internal/StaffReferenceInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtilsTest.java
Labels: DO NOT MERGE, ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-302

#320 fix: RDCC-2938 Fixed security scan reported issue
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-320

#321 fix: RDCC-2925 Handled invalid request
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/StaffReferenceException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/internal/StaffReferenceInternalController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtils.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/StaffReferenceExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/internal/StaffReferenceInternalControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-321

#327 feat: Modified PACT for refresh role endpoint
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-327

#328 added configuration for serenity report in nighly job
  Jenkinsfile_nightly
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-328

#329 Feat: RDCC-2888; Upgrade to Spring 2.4.6
  build.gradle
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/CustomSerenityRunner.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FetchStaffProfileByCcdServiceNamesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerChildListValidator.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-329
