Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-08, with the labels that each got.

#345 feat: RDCC-3165 Add two new columns in the case_worker_profile table
  charts/rd-caseworker-ref-api/Chart.yaml
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/Staff Data Upload with non idam roles.xls
  src/functionalTest/resources/Staff Data Upload with non idam roles.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload with non idam roles.xls
  src/integrationTest/resources/Staff Data Upload with non idam roles.xlsx
  src/integrationTest/resources/db/testmigration/V1_5__add_case_allocator_task_supervisor_columns.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/resources/db/migration/V1_10__add_case_allocator_task_supervisor_columns.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequestTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-345

#347 RDCC-2262 - removed log to check the time taken for executing methods
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-347

#352 RDCC-3166: Fixing serenity report
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-352

#354 RDCC-3237 - Fix CVE issue : CVE-2021-28170, CVE-2021-22119
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-354

#349 feat: RDCC-3179 Updated the Caseworker Fetch API & Refresh role API response to include the non idam roles
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-349

#356 RDCC-3254 - added CVE-2020-23171 entry in suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-356

#355 RDCC-3226: CRD - increase mutation coverage
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerDeleteService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerDeleteServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/StaffProfileWithServiceNameTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerDeleteServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/WorkBookCustomFactoryTest.java
  src/test/resources/Test-file.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-355

#357 fixed the security scan
  security.sh
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-357
