Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-02, with the labels that each got.

#155 fix : RDCC-2380 - role association mapping fixed
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerIdamRoleAssociationRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerIdamRoleAssociationRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-155

#156 RDCC-2365: adding 'XUI_WEBAPP' to Authorised Services
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-156

#132 Rdcc 2217 - Pact setup & Provider test for orm-crd fetchbyuserId api
  Jenkinsfile_CNP
  broker-compose.yml
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerProviderTestConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleType.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserType.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-132

#157 Rdcc 2201 jsr validations: Added validations around ServiceRoleMapping
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceRoleMapping.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/resources/ServiceRoleMapping_Multiple_Ids.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-157

#159 fix :RDCC-2371 - update flow role matching fixed
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-159

#158 refactor: validation framework refactor for Profile children's(Roles/AreaofWk/Locations) & Skip empty excel rows.
  src/functionalTest/resources/CaseWorkerUserWithNoPassword copy.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/resources/CaseWorkerUserXlsWithJSR.xls
  src/integrationTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerFileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerChildListValidator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/ValidateCaseWorkerChildren.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/CaseWorkerUserXlsWithFormulaAndEmptyRow.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-158

#161 Refactor: updated suspended integration cases and fixed excel blank row issue
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerSuspendUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/CaseWorkerUserSuspendedXlsxWithNoPassword.xlsx
  src/integrationTest/resources/CaseWorkerUserUpdateXlsxWithNoPassword.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-161

#160 RDCC-2325: Adding Retry to createUser() in IdamOpenIdClient
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-160

#162 Sync ithc and perftest branches with master
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-162

#163 Adding necessary variables in values.yaml.
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-163

#166 feat: RDCC-2389 Updated code to align with the Latest Excel File
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/CaseWorkerUserWithPassword.xls
  src/functionalTest/resources/CaseWorkerUserWithPassword.xlsx
  src/functionalTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/functionalTest/resources/CaseWorkerUserXlsxWithInvalidSheetName.xlsx
  src/functionalTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/functionalTest/resources/CaseWorkerUserXlsxWithOnlyHeader.xlsx
  src/functionalTest/resources/Caseworker User Pofile_Final draft.xlsx
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/functionalTest/resources/caseworker_profile.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerSuspendUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/integrationTest/resources/CaseWorkerUserSuspendedXlsxWithNoPassword.xlsx
  src/integrationTest/resources/CaseWorkerUserUpdateXlsxWithNoPassword.xlsx
  src/integrationTest/resources/CaseWorkerUserXlsUpdateWithNoPassword.xls
  src/integrationTest/resources/CaseWorkerUserXlsWithJSR.xls
  src/integrationTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/integrationTest/resources/CaseWorkerUserXlsxNewUserWithSuspended.xlsx
  src/integrationTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/integrationTest/resources/CaseWorkerUsers_WithCorrectPassword.xlsx
  src/integrationTest/resources/Staff Data Upload Suspended.xlsx
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/integrationTest/resources/Staff Data Upload With Password.xls
  src/integrationTest/resources/Staff Data Upload With Password.xlsx
  src/integrationTest/resources/Staff Data Upload Xls.xls
  src/integrationTest/resources/Staff Data Upload Xlsx With Only Header.xlsx
  src/integrationTest/resources/Staff Data Upload.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelValidatorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/resources/CaseWorkerUserXlsWithFormula.xlsx
  src/test/resources/CaseWorkerUserXlsWithFormulaAndEmptyRow.xlsx
  src/test/resources/CaseWorkerUserXlsWithJSR.xls
  src/test/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/test/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/test/resources/Staff Data Upload JSR.xlsx
  src/test/resources/Staff Data Upload With Formula.xlsx
  src/test/resources/Staff Data Upload.xls
  src/test/resources/Staff Data Upload.xlsx
  src/test/resources/Staff Data UploadWithInvalidHeaders.xls
  src/test/resources/Staff Data UploadWithPassword.xls
  src/test/resources/Staff Data UploadWithPassword.xlsx
  src/test/resources/Staff Data Upload_WithNoValidSheetName.xlsx
  src/test/resources/Staff Data Upload_WithXlsxOnlyHeader.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-166

#168 feat: RDCC-2389 Updated code to align with the Latest Excel File
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/integrationTest/resources/Staff Data Upload Suspended.xlsx
  src/integrationTest/resources/Staff Data Upload Xls.xls
  src/integrationTest/resources/Staff Data Upload.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/resources/Staff Data Upload JSR.xlsx
  src/test/resources/Staff Data Upload With Formula.xlsx
  src/test/resources/Staff Data Upload With Jsr.xlsx
  src/test/resources/Staff Data Upload.xls
  src/test/resources/Staff Data Upload.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-168

#169 feat: changed user type in excel files
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-169

#170 fix: RDCC-2397 - trimmed all fields in request
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/TrimStringFields.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerLocationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerRoleRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerWorkAreaRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtils.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-170

#172 fix: RDCC-2380 Changed the logic of displaying the message details in the response
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-172

#164 RDCC-2285 consumer tests for get, create and update endpoints
  Jenkinsfile_CNP
  build.gradle
  pacts/crd_case_worker_ref_service-rd_user_profile_api_service.json
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/UserProfileConsumerTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-164

#176 fix: RDCC-2414: Validated all Headers for both files
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/ServiceRoleMapping_InvalidHeaders.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-176

#177 fix: RDCC-2421 Refactored code to check whether file is caseworker or not only once
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-177

#174 Rdcc 2214 transactional changes
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefApiApplication.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/PublishCaseWorkerData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerRoleRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerWorkAreaRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CwrdCommonRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/ICwrdCommonRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/AuditAndExceptionRepositoryServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-174

#180 refactor: recovered missed test cases by previous merges
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerChildListValidator.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-180

#181 (feat)RDCC-2214: Fixing the ASB message.
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/constants/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-181

#179 RDCC-2411 validate excel file for formula error and send proper response
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Test incorrect function.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-179

#182 fix: RoleTypes and UserTypes are retrieved from DB only once throughout the application life cycle
  src/integrationTest/resources/db/testmigration/V1_2__insert_queries_role_user_type.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/RepositoryConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerStaticValueRepositoryAccessor.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerStaticValueRepositoryAccessorImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerStaticValueRepositoryAccessorImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-182

#178 refactor:Audit refactor with interceptor (RDCC-2333)
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/Staff Data Upload Update.xlsx
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/constants/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerLocation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerWorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IAuditAndExceptionRepositoryService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/AuditAndExceptionRepositoryServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/JsonFeignResponseUtil.java
  src/main/resources/db/migration/V1_9__alter_audit_userid.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/AuditAndExceptionRepositoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-178

#183 fix: addressed review comments
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeImplTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptor.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptorTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-183

#167 RDCC-2382: Hide internal POST APIs & Separate Controller for /users*
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-167

#185 fix: RDCC-2436 Refactored code by removing unwanted codes and renamed methods
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-185

#188 build: Fixed CVE 2021-21290
  audit.json
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-188

#190 Enable self service DB access
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-190

#184 RDCC-2411 - added utc timezone
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-184

#189 fix: RDCC-2433 Added job id and row id in logs
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-189

#193 DependBot : Upgrade libs versions (Rdcc 2507)
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-193
