Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-01, with the labels that each got.

#115 RDCC-2168: Nightly Build Fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-115

#117 RDCC-2077: Forcing the email id to lower case in functional tests.
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-117

#118 RDCC-2168: Fixing Sexurity Scan issues
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-118

#119 RDCC-2168: Fixing Nightly Build (Security Scan)
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-119

#112 Rdcc 2077: Add launch darkly changes to the repo.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/CustomSerenityRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/ToggleEnable.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/UserRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/FeatureConditionEvaluation.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/FeatureConditionEvaluationTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-112

#108 RDCC-2079: Change DeleteFlag to Suspended in database and code
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/integrationTest/resources/WithCorrectPassword.xls
  src/integrationTest/resources/WithCorrectPassword.xlsx
  src/integrationTest/resources/WithXlsxOnlyHeader.xlsx
  src/integrationTest/resources/db/testmigration/V1_4__rename_deleteFlag_to_suspended.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/resources/db/migration/V1_4__rename_deleteFlag_to_suspended.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/resources/WithCorrectPassword.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-108

#120 RDCC-2077: Putting all API's behind a single flag.
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-120

#110 Rdcc 1987
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/CustomSerenityRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/util/ToggleEnable.java
  src/functionalTest/resources/WithCorrectPassword.xls
  src/functionalTest/resources/WithCorrectPassword.xlsx
  src/functionalTest/resources/WithInCorrectPasswordSet.xls
  src/functionalTest/resources/WithInCorrectPasswordSet.xlsx
  src/functionalTest/resources/WithInvalidSheetName.xlsx
  src/functionalTest/resources/WithNoPasswordSet.xls
  src/functionalTest/resources/WithNoPasswordSet.xlsx
  src/functionalTest/resources/WithXlsxOnlyHeader.xlsx
  src/functionalTest/resources/caseworker_profile.xlsx
  src/functionalTest/resources/test.txt
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/WithXlsxOnlyHeader.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/UploadCaseWorkerFileResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/UploadCaseWorkerFileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/WithNoValidSheetName.xlsx
  src/test/resources/WithXlsxOnlyHeader.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-110

#124 feat: Send case worker ids in the response once CW profiles are created
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerProfileCreationResponse.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerProfileCreationResponseTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-124

#121 RDCC-2048: implementing Spring Cache & Caffeine for Bearer Token
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefApiApplication.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/IdamRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-121

#127 Nightly Build Fix: Security Scan
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-127

#128 RDCC-2232: removing column 'delete_date'
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/resources/db/migration/V1_5__remove_delete_date_column.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-128

#131 build: Pointed UP to aat env instead of preview
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-131

#136 (feat) RDCC-2230 : Updating the required roles for FetchUsersById.
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-136

#134 RDCC-2029 Update/Suspend user flow
  Dockerfile
  RDCC-1927.patch
  bin/run-in-docker.sh
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefCreateTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/functionalTest/resources/CaseWorkerUserWithNoPassword.xlsx
  src/functionalTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerLocationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleName.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerRoleRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerWorkAreaRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerRoleRequestTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/UserProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedDataTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/resources/CaseWorkerUserWithPassword.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-134

#140 Rdcc 2261 branch
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-140

#141 (feat) RDCC-2215: Initial checkin for the validations.
  src/integrationTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/integrationTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/constants/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/CaseWorkerUserXlsWithInvalidHeaders.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-141

#147 feat: RDCC-2278 Updated code to align with the Excel File structures
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/resources/CaseWorkerUserWithNoPassword copy.xlsx
  src/functionalTest/resources/CaseWorkerUserWithNoPassword.xlsx
  src/functionalTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/functionalTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/functionalTest/resources/Caseworker User Pofile_Final draft.xlsx
  src/functionalTest/resources/ServiceRoleMapping_BBA9.xls
  src/functionalTest/resources/ServiceRoleMapping_BBA9.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/integrationTest/resources/CaseWorkerUserXlsWithJSR.xls
  src/integrationTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/integrationTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/integrationTest/resources/ServiceRoleMapping_BBA9.xlsx
  src/integrationTest/resources/ServiceRoleMapping_BBA9WithJSR.xlsx
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceRoleMapping.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerFileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_7__update_queries_role_type.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/CaseWorkerUserXlsWithFormula.xls
  src/test/resources/CaseWorkerUserXlsWithFormula.xlsx
  src/test/resources/CaseWorkerUserXlsWithInvalidHeaders.xls
  src/test/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/test/resources/ServiceRoleMapping_BBA9.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-147

#149 fix: Audit job id update(RDCC-2056)
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeImplTest.java
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorker.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/resources/db/migration/V1_8__alter_excpetion_key.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-149

#150 refactor: Audit/Exception scenario's for update/suspend caseworker(RDCC-2056)
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/CaseWorkerUserUpdateXlsxWithNoPassword.xlsx
  src/integrationTest/resources/CaseWorkerUserXlsWithNoPassword.xls
  src/integrationTest/resources/CaseWorkerUserXlsxWithNoPassword.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-150

#148 Rdcc 2201 jsr validations
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateIdamRolesMappingIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelUploaderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeImplTest.java
  src/integrationTest/resources/CaseWorkerUserXlsWithJSR.xls
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/constants/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-148

#151 feat: Throw error when suspending new user
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUploadFileIntegrationTest.java
  src/integrationTest/resources/CaseWorkerUserXlsxNewUserWithSuspended.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-151

#153 fix: Ignore IDAM roles entity when it is null(RDCC-2373)
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-153
