Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-03, with the labels that each got.

#204 Update app insights key secret name
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/main/resources/bootstrap.yml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-204

#203 fix: RDCC-2437 Removed the validation on region Id and fixed row id issue
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerSuspendUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-203

#206 fix: RDCC-2436 Removed redundant code and fixed CVE CVE-2021-22112
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-206

#211 fix: RDCC-2581: Fixed CVEs CVE-2021-25122, CVE-2021-25329
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-211

#214 Rdcc 2508 asb fix
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefApiApplication.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandler.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisherTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/servicebus/messaging/JmsErrorHandlerTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-214

#218 RDCC-2483: Make primary base location field mandatory
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerChildListValidator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-218

#220 fix: RDCC-2470 handle trimming in role mapping file
  src/integrationTest/resources/ServiceRoleMapping_BBA9_extra_spaces.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-220

#227 fix: Removed unwanted suppression of cves
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-227

#229 fix: Increased batch size to 30
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-229

#215 Rdcc 2376 error message
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerSuspendUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-215

#233 fix: RDCC-2632 added hikari configuration
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-233

#235 RDCC-2509 (Observation 19): Name Validation
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/integrationTest/resources/Staff Data Upload With Name Longer Than 128 and Name With Invalid Character.xlsx
  src/integrationTest/resources/Staff Data Upload With Password.xls
  src/integrationTest/resources/Staff Data Upload Xls.xls
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileCreationRequestTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-235

#238 Added memory limits to integration tests.
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-238

#228 RDCC-2480: Handle staff data upload file with blank rows
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With All Empty Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With All Valid Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With Some Empty Rows.xlsx
  src/integrationTest/resources/~$Staff Data Upload With All Valid Rows.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorServiceImplTest.java
  src/test/resources/Staff Data Upload With Empty Rows.xlsx
  src/test/resources/Staff Data Upload.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-228

#230 Rdcc 2481 invalid idam roles
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-230

#234 RDCC-2510: Email validation
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With Case Insensitive Email.xlsx
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ExcelAdaptorServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/JsrValidatorInitializerTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-234

#241 Removing Spring retry jar.
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtils.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-241

#240 RDCC-2326: Increase Mutation Coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/RoleAdditionResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/UserProfileResponse.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/LocationTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/PublishCaseWorkerDataTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/RoleTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkAreaTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerAuditTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/ExceptionCaseWorkerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedDataTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CwrdCommonRepositoryTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-240

#237 fix: Handled duplicate email profiles by ignoring the records
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/resources/Staff Data Upload With Duplicate Email Profiles.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-237

#253 RDCC-2509: Reducing Name Validation Regex by 1
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-253

#254 Rdcc 2486 db issue fetchcaseworkerbyid
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-254

#242 fix: RDCC-2517 fix child deletion when update record fails in UP
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/resources/Staff Data Upload Update.xlsx
  src/integrationTest/resources/Staff Data Upload.xlsx
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-242

#256 Fix: Addressing Code smells
  src/main/java/uk/gov/hmcts/reform/cwrdapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/MappingField.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptorTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-256

#257 refactor: JPA query tuning (RDCC-2499)
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerLocation.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerWorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleType.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-257

#258 fix: RDCC-2478 Avoided to create audit for user with invalid role
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/AuditInterceptor.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-258

#236 TA-576: Provider test for am role mapping
  Jenkinsfile_CNP
  build.gradle
  pacts/crd_case_worker_ref_service-rd_user_profile_api_service.json
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-236
