Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2021-04, with the labels that each got.

#255 RDCC-2481: Fix IDAM message for update scenario.
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-255

#270 fix: RDCC-2517 Review comments - Use In clause for get email
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-270

#271 RDCC-2481: Updating the error message from IDAM.
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-271

#276 RDCC-2646: Fix performance issues for the Integration test cases.
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerSuspendUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/FileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/TestConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/IntegrationTestOidcSecurityConfig.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-276

#277 Upgrade the Netty Jar to fix CVE-2021-21409
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-277

#284 (fix): Remove memory limits.
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-284

#289 fix: Upgraded apache commons io version to latest to fix CVE-2021-29425
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-289

#292 RDCC-2750: Removing Functional Tests
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-292

#290 fix:RDCC-2746: Helm chart version upgrade
  charts/rd-caseworker-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-290

#293 add pact test report
  Jenkinsfile_CNP
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-293

#291 RDCC-2390: Delete API - Delete Users by Email Pattern or User ID
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  charts/rd-caseworker-ref-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/FetchCaseworkersByIdProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/DeleteCaseWorkerProfilesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/constants/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerProfilesDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-291

#300 fix: RDCC-2777 Fixed security scan reported issue
  audit.json
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-300
