Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2022-10, with the labels that each got.

#579 RDCC-5489 - Staff : configure domain as list
  build.gradle
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/EmailDomainPropertyInitiator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/EmailValidator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/ValidateEmail.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/JsrValidatorInitializerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/EmailValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-579

#584 Feat:rdcc 5419 new
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataSkillsFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/StaffWorkerSkillResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/ServiceSkill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/Skill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/SkillDTO.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/SkillRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/StaffRefDataService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/StaffWorkerSkillResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/SkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/SkillRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-584

#593 staff create profile
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefCreateFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/service/ValidationServiceFacadeImplTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/db/testmigration/V1_17__staff_ui_tables.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/RepositoryConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkerServicesRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/SkillsRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/StaffProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/StaffProfileRoleRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/StaffProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerSkill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/Skill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/StaffAudit.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerSkillRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/StaffAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerStaticValueRepositoryAccessor.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/StaffRefDataService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerStaticValueRepositoryAccessorImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/StaffProfileChildListValidator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/StaffProfileCreateUpdateUtil.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/ValidateStaffProfileChildren.java
  src/main/resources/db/migration/V1_17__staff_ui_tables.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerSkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/SkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/StaffAuditTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerStaticValueRepositoryAccessorImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/JsrValidatorInitializerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/StaffProfileChildListValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/StaffProfileCreateUpdateUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-593

#562 Feat:Staff : Create a new API for basic search
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataBasicSearchFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateStaffReferenceProfileBasicSearchTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/ServiceResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/SkillResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/SearchStaffUserResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/Skill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/StaffRefDataService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/StaffRefDataControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerSkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/SkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/repository/CaseWorkerProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-562

#599 Rdcc 5647 fixes
  build.gradle
  charts/rd-caseworker-ref-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/StaffProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerSkill.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorStaffProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IStaffProfileAuditService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IValidationService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorInitializer.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorStaffProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffProfileAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/ValidationServiceFacadeImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/JsrValidatorInitializerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorStaffProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/util/EmailValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-599

#604 Rdcc 5597 fixes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefCreateFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataBasicSearchFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/resources/Staff Data Upload with non idam roles.xlsx
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/functionalTest/resources/Staff_Data_Upload_with_non_idam_roles.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-604
