Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2022-07, with the labels that each got.

#523 RDCC-5016: Adding Suppression for `CVE-2022-33915`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-523

#492 RDCC-4669: Staff - Updates to Business Roles in Staff Template
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/resources/Staff Data Upload with non idam roles.xlsx
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/functionalTest/resources/Staff_Data_Upload_with_non_idam_roles.xls
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerUpdateUserWithFileUploadTest.java
  src/integrationTest/resources/ServiceToIDAMRoleMapping_newRoles.xlsx
  src/integrationTest/resources/Staff Data Test incorrect function.xlsx
  src/integrationTest/resources/Staff Data Upload Update.xlsx
  src/integrationTest/resources/Staff Data Upload With All Empty Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With All Valid Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With Case Insensitive Email.xlsx
  src/integrationTest/resources/Staff Data Upload With Duplicate Email Profiles.xlsx
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/integrationTest/resources/Staff Data Upload With Name Longer Than 128 and Name With Invalid Character.xlsx
  src/integrationTest/resources/Staff Data Upload With Some Empty Rows.xlsx
  src/integrationTest/resources/Staff Data Upload Xls.xls
  src/integrationTest/resources/Staff Data Upload with non idam roles.xls
  src/integrationTest/resources/Staff Data Upload with non idam roles.xlsx
  src/integrationTest/resources/Staff Data Upload.xlsx
  src/integrationTest/resources/StaffData Upload Suspended.xlsx
  src/integrationTest/resources/db/testmigration/V1_2__insert_queries_role_user_type.sql
  src/main/resources/db/migration/V1_16__update_roletype.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-492

#524 RDCC-5033 Upgrade java chart
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-524

#526 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-526

#530 fix: RDCC-5181 Fixed the failing functional test
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/functionalTest/resources/ServiceRoleMapping_ABA1.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-530
