Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2022-02, with the labels that each got.

#420 Upgrade Gradle Version 7.3.3
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/cwrdapi/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-420

#424 fix: Used used testImplementation instead of testCompile
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-424

#421 RDCC-3946: CVE Fixes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-421

#418 RDCC-3923: SRD Remove Deprecated Jcenter Repository
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-418

#419 feat: RDCC-3875 SRD - Ability to send names in the request to PUT /v1/userprofile/{userId} only if there is a mismatch
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerCreateUserWithFileUploadTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_7__insert_update_queries_role_type.sql
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/feign/UserProfileFeignClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/resources/db/migration/V1_13__update_roletype.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-419

#431 fix: Bump base java helm chart to 3.7.1
  charts/rd-caseworker-ref-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-431

#432 fix: Added spring security dependency explicitly
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-432

#433 Added with Updated Functional Test
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/idam/IdamOpenIdClient.java
  src/functionalTest/resources/Staff Data Upload with non idam roles.xlsx
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/functionalTest/resources/Staff_Data_Upload_with_non_idam_roles.xls
  src/integrationTest/resources/ServiceToIDAMRoleMapping_newRoles.xlsx
  src/integrationTest/resources/Staff Data Test incorrect function.xlsx
  src/integrationTest/resources/Staff Data Upload Update.xlsx
  src/integrationTest/resources/Staff Data Upload With All Empty Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With All Valid Rows.xlsx
  src/integrationTest/resources/Staff Data Upload With Case Insensitive Email.xlsx
  src/integrationTest/resources/Staff Data Upload With Duplicate Email Profiles.xlsx
  src/integrationTest/resources/Staff Data Upload With Jsr.xlsx
  src/integrationTest/resources/Staff Data Upload With Name Longer Than 128 and Name With Invalid Character.xlsx
  src/integrationTest/resources/Staff Data Upload Xls.xls
  src/integrationTest/resources/Staff Data Upload with non idam roles.xls
  src/integrationTest/resources/Staff Data Upload with non idam roles.xlsx
  src/integrationTest/resources/Staff Data Upload.xlsx
  src/integrationTest/resources/StaffData Upload Suspended.xlsx
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-433
