Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2022-03, with the labels that each got.

#434 Feat:SRD: Code improvisation - Detailed loggers, Modularization and exception handlers
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkerProfilesDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/UserProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerRole.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedData.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileConverter.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerServiceFacade.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelAdaptorService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/ExcelValidatorService.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/servicebus/TopicPublisher.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedDataTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-434

#437 fix: Updated java chart version to 3.7.3
  charts/rd-caseworker-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-437

#438 RDCC-4163: collating Dependabot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-438

#451 SRD: Fix CVE-2020-36518
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Location.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/Role.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/StaffProfileWithServiceName.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/client/domain/WorkArea.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/LrdOrgInfoServiceResponse.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-451

#455 RDCC-4307-SRD Nightly Build Failure
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-455

#453 Rdcc 4293-Functional Test Reports Not Generating
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-453

#456 RDCC-4321: Collating DependaBot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-456

#467 RDCC-4297 : Staff Reference API - Improve integration test case timings
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/config/WireMockExtension.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-467

#468 RDCC-4331-CVE-2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-468

#452 RDCC-4251: SRD - Handle Verbose Error Messages
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapper.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/advice/ExceptionMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-452
