Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2023-06, with the labels that each got.

#737 Rdcc 6758
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/cwrdapi/StaffReferenceDataProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefCreateFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/client/CaseWorkerApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/UpdateCaseWorkerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersController.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/CaseWorkersProfileUpdationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/CaseWorkersProfileUpdationResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/CaseWorkerProfileUpdateservice.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/IJsrValidatorStaffProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerProfileUpdateserviceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorStaffProfile.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerConstants.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerProfileValidator.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/ValidateCaseWorkerProfile.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerProfileUpdateserviceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidateCaseWorkerUpdateRequest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-737

#734 Support Unsuspend User from suspended state
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefUpdateProfileFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/StaffProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataUpdateStaffServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-734

#741 Increase Mutation coverage for Staff Reference Data
  build.gradle
  src/main/java/uk/gov/hmcts/reform/cwrdapi/config/WebMvcConfig.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/client/domain/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/CaseWorkerSkillTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/RoleDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/ServiceResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/SkillResponseTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/domain/UserProfileUpdatedDataTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceFacadeImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorStaffProfileTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffProfileAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataUpdateStaffServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-741

#744 Replace iac roles
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerRefFunctionalTest.java
  src/functionalTest/resources/ServiceRoleMapping_ABA1.xls
  src/functionalTest/resources/ServiceRoleMapping_BBA9.xls
  src/functionalTest/resources/ServiceRoleMapping_BBA9.xlsx
  src/functionalTest/resources/Staff Data Upload with non idam roles.xlsx
  src/functionalTest/resources/Staff Data Upload.xls
  src/functionalTest/resources/Staff Data Upload.xlsx
  src/functionalTest/resources/Staff_Data_Upload_with_non_idam_roles.xls
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-744

#733 Update README.md
  README.md
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-733

#743 [RDCC-6819]SonarQube Issue fix
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerProfileUpdateserviceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidateCaseWorkerUpdateRequestTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataUpdateStaffServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-743
