Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2023-07, with the labels that each got.

#746 Update build.gradle
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-746

#747 Fixed 500 error when primary location is null
  src/main/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerChildListValidator.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-747

#749 DTSRD-742, DTSRD-541: add new roles
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateUpdateStaffRefDataProfilesIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_20__insert_roletype.sql
  src/main/resources/db/migration/V1_24__insert_roletype.sql
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-749
