Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2023-01, with the labels that each got.

#640 RDCC-6118: Adding suppression for `CVE-2021-4277`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-640

#649 RDCC-6139: Upgrading Tomcat to `9.0.69` to fix `CVE-2022-45143`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-649

#650 RDCC-6137: Staff : Add Caseworker ID to the Staff basic search & advanced search APIs
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/request/StaffProfileCreationRequest.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/controllers/response/SearchStaffUserResponse.java
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/StaffRefDataUpdateStaffServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-650

#651 Upgrade java chart version
  charts/rd-caseworker-ref-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-651
