Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2024-04, with the labels that each got.

#832 DTSRD-2504: fix location issue across multiple services
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerProfileRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CaseWorkerProfileRepositorySaveIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateStaffReferenceProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/util/CaseWorkerReferenceDataClient.java
  src/integrationTest/resources/db/testmigration/V1_21__alter_case_worker_location.sql
  src/main/resources/db/migration/V1_25__alter_case_worker_location.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/cwrdapi/service/impl/JsrValidatorStaffProfileTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-caseworker-ref-api-pr-832

#837 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-caseworker-ref-api/Chart.yaml
  charts/rd-caseworker-ref-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-837

#843 FIX AZURE EXTENSIONS
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, rel:rd-caseworker-ref-api-pr-843

#846 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-846
