Repository hmcts/rd-caseworker-ref-api, pull requests merged in 2024-09, with the labels that each got.

#930 DTSRD-3356
  Dockerfile
  acb.tpl.yaml
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-930

#931 DTSRD-3358: Create New FTA Role for IBCA in RD
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateCaseWorkerProfilesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/CreateUpdateStaffRefDataProfilesIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/cwrdapi/StaffRefDataIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_22__insert_roletype.sql
  src/main/resources/db/migration/V1_26__insert_roletype.sql
  src/test/java/uk/gov/hmcts/reform/cwrdapi/controllers/CaseWorkerRefUsersControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-931

#932 Fix AppInsights issues
  Dockerfile
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-932

#933 DTSRD-3448: Log staff profile count returned from DB and returned in response
  src/main/java/uk/gov/hmcts/reform/cwrdapi/service/impl/CaseWorkerServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-caseworker-ref-api-pr-933
